body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("./img/blurryCity.jpg");
    background-size: 100% auto; 
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand {

    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 50px;
    line-height: 20px;
    font-family: 'Just Another Hand', cursive;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #080808;
    font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fedc3d;
    background-color: #fedc3d;
    font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-brand {
    color: #292F36;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #292F36;
}

.navbar-inverse {
    background-color: #fedc3d;
    border-color: #fedc3d;
}

.mainDashboard{
    min-height: 100%;
    margin-bottom:0px;
}    

#root{
    margin-bottom: 60px;
}

#navBarRow {
    max-width: 100%;
    margin-left: 0px;
    padding: 10px;
    background-color: #fedc3d;
}

#footer {
  color: #FEDC3D;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;  
}

#footerP{
  font-family: 'Roboto', sans-serif;
  margin: -15px;
  background-color: black;
}

.thumbnail{
  background-color: red;
}

#calendarRow{
  padding-bottom: 3.5%;
}

i{
  display: inline;
  padding-left: 4%;  
  padding-right: 10px;
}

#calendars{
  display: inline;
  font-family: 'Just Another Hand', cursive;
}

#calendarRow{
  color: white;
}

#groupNameBox{
  margin-left: 10%;
  background-color: rgba(254,166,128,.8);
  border-radius: 15px;
  margin-right: 5%;
}

#groupButton, #logOutButton{
  font-family: 'Roboto', sans-serif;
  background-color: #FEDC3D;
  border-color: #FEDC3D;
  color: black !important;
  margin-top: 6px;

}

#deleteButton{
  font-family: 'Roboto', sans-serif;
  background-color: rgba(254,166,128,0);
  border-color: rgba(254,166,128,0);
  color: white !important;
}

#xDelete{
  padding-right: 0px;
}


#groupButton:hover{
  color: white;
}

#logOutButton:hover{
  color: white;
}

#peaches {
  margin-right: 60px;
}


#footerDashboard{
  padding-top: 25px !important;
  max-width: 100% !important;
  line-height: 60px !important;
  color: #FEDC3D !important;
}

#footerPDashboard{
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
  margin: -15px !important;
  background-color: black !important;
}

/*MEDIA QUERIES:*/

@media screen and (max-width: 1230px){
    p {
      word-wrap: break-word;
    }
}

@media screen and (max-width: 1052px){
    body {
      background: transparent url("img/blurryCity.jpg") no-repeat top center fixed;
    }
}

@@media (max-width: 769px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    
    .navbar-collapse.collapse.in { 
        display: block!important;
        margin-top: 0px;
    }
    .collapsing {
        overflow: hidden!important;
    }
  }


/*@media (min-width: 768px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}

@media (min-width: 768px) and (max-width: 1000px) {
   .navbar-collapse.collapse {
       display: block !important;
   }
}*/








