body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("./img/blurryCity.jpg");
    background-size: 100% auto; 
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand {

    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 50px;
    line-height: 20px;
    font-family: 'Just Another Hand', cursive;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #080808;
    font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fedc3d;
    background-color: #fedc3d;
    font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-brand {
    color: #292F36;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #292F36;
}

.navbar-inverse {
    background-color: #fedc3d;
    border-color: #fedc3d;
}

.mainDashboard{
    min-height: 100%;
    margin-bottom:0px;
}    

#root{
    margin-bottom: 60px;
}

#navBarRow {
    max-width: 100%;
    margin-left: 0px;
    padding: 10px;
    background-color: #fedc3d;
}

#footer {
  color: #FEDC3D;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;  
}

#footerP{
  font-family: 'Roboto', sans-serif;
  margin: -15px;
  background-color: black;
}

.thumbnail{
  background-color: red;
}

#calendarRow{
  padding-bottom: 3.5%;
}

i{
  display: inline;
  padding-left: 4%;  
  padding-right: 10px;
}

#calendars{
  display: inline;
  font-family: 'Just Another Hand', cursive;
}

#calendarRow{
  color: white;
}

#groupNameBox{
  margin-left: 20%;
  background-color: rgba(254,166,128,.8);
  height: 150px;
  border-radius: 15px;
}

#groupButton, #logOutButton{
  font-family: 'Roboto', sans-serif;
  background-color: #FEDC3D;
  border-color: #FEDC3D;
  color: black !important;
  margin-top: 6px;

}


#groupButton:hover{
  color: white;
}

#logOutButton:hover{
  color: white;
}

#peaches {
  margin-right: 60px;
}

#footerDashboard{
  padding-top: 25px !important;
  max-width: 100% !important;
  line-height: 60px !important;
  color: #FEDC3D !important;
}

#footerPDashboard{
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
  margin: -15px !important;
  background-color: black !important;
}





