html{
  position: relative;
  min-height: 100%;
}

body{
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #01ABAA;
  margin-bottom: 60px;
}

.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}


.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: lowercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 105px;    
    font-weight: bold;
    margin: 0;
    padding: 0;
  font-family: 'Just Another Hand', cursive;
  color: #FEDC3D;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/*OVERLAY*/

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .3;
}


/*BUTTONS*/

.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #01ABAA;
    border-color: #1abc9c;
    outline: none;
    margin: 20px 5px;
  text-transform: lowercase;
  font-family: 'Roboto', sans-serif !important;
  
}

a{
  color: white;
}

a:hover{
  color: white;
  text-decoration: none;
}

/*PICTURE SLIDES*/

.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  /*background-image: url("./img/TESTFriendship%20%28800x534%29.jpg"); */
  background-image: url("./img/TESTFriendship.jpg"); 
}
.fade-carousel .slides .slide-2 {
  background-image: url("./img/friends2.jpg");
}
.fade-carousel .slides .slide-3 {
  background-image: url("./img/friends1.jpg");
}
.fade-carousel .slides .slide-4 {
  background-image: url("./img/friends4.jpg");
}
.fade-carousel .slides .slide-5 {
  background-image: url("./img/friends5.jpg");
}

#slider-top{
  padding: 0;

}

/*Modals*/
.modal-title{
  font-size: 40px;
  color: #01ABAA;
  font-family: 'Just Another Hand', cursive;
}
#signUpButton, #signInButton{
  background-color: #01ABAA;
}
#signUpButton:hover, #signInButton:hover{
  background-color: #fedc3d;
}

.glimpseAbout {
  text-transform: lowercase;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
}

.aboutP {
  text-transform: lowercase;
  font-family: 'Roboto', sans-serif;
}

#about {
  background-color: #FEA680;
  padding: 12px;
}


.testimonialsH1 {
  text-transform: lowercase;
  font-family: 'Roboto', sans-serif;
  color: #FEDC3D;
  margin-top: 0px;
  margin-bottom: 0px;
}

#testimonials {
  background-color: #01ABAA;
  padding: 12px;
}

#callToAction {
  background: transparent url("img/blurryCity.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    height: 300px;
}

.awesome {
  color: white;
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.fa-5x {
  color: white;
}



.align-items-center {
  text-align: center;
}

.awesomeP{
  font-family: 'Roboto', sans-serif;
  color: white;
}


/* Quote Carousel */
#quoteCarousel{
  background-color: #01ABAA;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #FEA680;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: black;


}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
    color: #fedc3d;
}

blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 30px;
    color: #fedc3d;
    font-family: 'Just Another Hand', cursive;
    text-transform: lowercase;
}

#main{
  margin-bottom: 0;
  min-height: 100%;
  background-color: #01ABAA;
}

#footer{
  padding-top: 25px;
  max-width: 100%;
  line-height: 60px;
  color: #FEDC3D;
}

#footerP{
  font-family: 'Roboto', sans-serif;
  margin: -15px;
  background-color: black;
}
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
@media screen and (max-width: 1200px){
    #callToAction { 
      min-height: 600px;
    }
}

@media screen and (max-width: 1000px){
    #callToAction { 
      min-height: 600px;
      background: transparent url("img/blurryCity.jpg") no-repeat top center fixed;
    }
}

@media screen and (max-width: 800px){
    p.quotez{
      font-size: 16px;
    }
}


@media screen and (max-width: 670px){
    p.quotez{
      font-size: 15px;
    }
}
@media screen and (max-width: 630px){
    #callToAction {
      background: transparent url("img/blurryCity.jpg") no-repeat top center fixed;
    }
}

@media screen and (max-width: 555px){
    button.btn.btn-hero.btn-lg { 
      margin: 5px;
    }
}

@media screen and (max-width: 498px){
    #quote-carousel .carousel-indicators .active{
      width: 100px;
      height: 100px;
    }
}

@media screen and (max-width: 458px){
    h3{
      font-size: 18px;
    }
}

@media screen and (max-width: 444px){
    #quote-carousel .carousel-indicators .active{
      width: 80px;
      height: 80px;
    }
}

@media screen and (max-width: 410px){
    #quote-carousel .carousel-indicators .active{
      width: 60px;
      height: 60px;
    }
    p.quotez{
      font-size: 12px;
    }
}

@media screen and (max-width: 395px){
    #callToAction {
      min-height: 650px;
      background: transparent url("img/blurryCity.jpg") no-repeat top center fixed;
    }
}
