html{
    position: relative;
    min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    background-color: #01abaa;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand {

    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 50px;
    line-height: 20px;
    font-family: 'Just Another Hand', cursive;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #080808;
    font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fedc3d;
    background-color: #fedc3d;
    font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-brand {
    color: #292F36;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #292F36;
}

.navbar-inverse {
    background-color: #fedc3d;
    border-color: #fedc3d;
}

/*#footer{

    background-color: #292F36;
    color: #F7FFF7;
    padding: 15px;
}*/

#footer {
  color: white;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  
}

#main{
    min-height: 100%;
    margin-bottom: 90px;
    background-color: #01abaa;
}

#root{
    margin-bottom: 60px;
}

#navBarRow {
    max-width: 100%;
    margin-left: 0px;
    padding: 10px;
    background-color: #fedc3d;

}

#footerP{
    margin: -15px;
    background-color: black;
}

